.archive-item {
	position: absolute;
/*	width: 60px;*/
}

.archive-item:hover {
	z-index: 10;
	filter: drop-shadow(3px 3px 10px white);
}


.close {
	float: right;
}

.close:hover {
	background-color: yellow;
}

.archive-item > img {
	width: 100%;
}

.archive-item-large {
	position: absolute;
	z-index: 10;
	border: 2px solid red;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.7);
}


/*img {
	width: 100px;
}*/