.archive-item {
	position: absolute;
	width: 100px;
	transition: margin 1s;
}

.archive-item:hover {
	z-index: 10;
	filter: drop-shadow(3px 3px 10px white);
	margin: 10px -10px 0px 0px;
}

.archive-item span {
	position: absolute;
/*	z-index: 3;*/
	top: 20px;
	left: 10px;
	z-index: 100;
/*	color: yellow;*/
}

.close {
	float: right;
}

.close:hover {
	background-color: yellow;
}

.archive-item > img {
	width: 100%;
}

.archive-item > img {
	width: 100%;
}

.archive-item-large {
	color: black;
	position: absolute;
	z-index: 100;
/*	border: 2px solid red;*/
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 500px;
	filter: drop-shadow(3px 3px 10px white);
}

.archive-item-large > img {
	width: 100%;
}



/*img {
	width: 100px;
}*/