.grid-container {
  height: 180vh;
  width: 120vw;
/*  display: grid;
  grid-template-columns: repeat(3, 1fr);*/
}

.transcript-box {
  width: 100vw;
  height: 100vh;
/*  left: 400px;
  top: 400px;*/
  position: absolute;
  background-color: coral;
  opacity: 0.4;
  pointer-events: none;
}

.transcript-box p {
  font-size: 5em;
    filter: drop-shadow(10px 10px 20px white);
}

.title {
/*  float: right;*/
  position: fixed;
  left: 70vw;
  filter: drop-shadow(5px 5px 10px white);
}

.grid-item {
}

#loading {
  left: calc(50vw - 100px);
  top: calc(50vh - 100px);
  position: absolute;
  width: 200px;
}

.item {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid #eaeaea;
}

#block0 {
  background-color: coral;
}
#block1 {
  background-color: pink;
}
#block2 {
  background-color: lightblue;
}
#block3 {
  background-color: green;
}
#block4 {
  background-color: orange;
}
#block5 {
  background-color: yellow;
}
#block6 {
  background-color: greenyellow;
}
#block7 {
  background-color: olive;
}
#block8 {
  background-color: thistle;
}
