.grid-container {
  height: 4000px;
  width: 7000px;
/*  display: grid;
  grid-template-columns: repeat(3, 1fr);*/
}

.grid-item {
}

.item {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid #eaeaea;
}

#block0 {
  background-color: coral;
}
#block1 {
  background-color: pink;
}
#block2 {
  background-color: lightblue;
}
#block3 {
  background-color: green;
}
#block4 {
  background-color: orange;
}
#block5 {
  background-color: yellow;
}
#block6 {
  background-color: greenyellow;
}
#block7 {
  background-color: olive;
}
#block8 {
  background-color: thistle;
}
